@model MSPress.Models.DashboardModel

<div>
    <h4>DashboardModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Title = model.ErrataCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ErrataCount)
        </dd>

    </dl>
</div>
<p>
    @"~/Views/Shared/_DashboardLayout.cshtml" |
    @"~/Views/Shared/_DashboardLayout.cshtml""~/Views/Shared/_DashboardLayout.cshtml"
</p>
